body {
    background-color: white;
    color:black;

}



nav a, nav a:visited {
    text-decoration:none;
    width:100%;
    padding:10px 20px;
    color:black;
}

nav a:hover, nav a.active {
    color:goldenrod;
    background-color:black;
}
nav li {
    list-style:none;
    margin:0;
    flex:1;
    text-align:right;
}
nav ul {
    display: flex;
}
table{
    width: 100%;
}
h1{
    text-align: center;
}
td, th {
    border: 2px solid black;
    width: 14.27%;
}

td {
    font-weight: bold;
    font-size: 24px;
    padding-bottom: 32px;
}
.black {
    background-color: black;
    color: goldenrod;
}
th {
    padding: 8px 0;
    background-color: white;
    color: black;
}
.gold {
    background-color: goldenrod;
    color: black;
}
.logo {
    height: 150px;
    width: 150px;
    border-radius:200px;
    align-content:center;

}
h3 {
    text-decoration:none;
}
.row {
    display:flex;
    flex-direction:row;
}
.row2 {
    display:flex;
    flex-direction:row;
}
.row3 {
    display:flex;
    flex-direction:row-reverse;
}
.row4 {
    display:flex;
    flex-direction:row;
}
.snrpic1 {
    display:flex;
    flex-direction:row-reverse;
}
.profile {
    display:flex;
    flex-direction:row;
    height:100px;
    width:100px;
    border-radius:200px;
}
